/*
 *
 * STYLING FOR BACK TO TOP
 *
*/

.back-to-top {
    
    position: fixed;
    z-index: 9050;
    right: 0;
    bottom: 0;
    //bottom: -50px;
    
    line-height: 1;
    height: $padding-base-vertical*6;
    width: $padding-base-horizontal*3;

    display: inline-block;
    padding: $padding-base-vertical*1.25 0;
    text-align: center;
    text-decoration: none;
    opacity: 0;
    color: $gray-lighter;
    
    background-color: rgba(0, 0, 0, .65);
    //@include transition(all 0.25s ease-in-out);
    //@include transform(scale(0));
    &.show {
        //     bottom: $small-spacing;
        opacity: 1;
        //@include transform(scale(1));
    }
    &:hover,
    &:focus {
        text-decoration: none;
        color: white;
        background-color: rgba(0, 0, 0, .85);
    }
}
