/* -----------------------------------------------------------------------------

  HAMBURGER ICONS COMPONENT
  
----------------------------------------------------------------------------- */

// vars

$button-width: 51px;                    // The width of the button area
$button-height: 51px;                   // The height of the button area
$bar-thickness: 2px;                    // The thickness of the button bars
$button-pad: 9px;                      // The left/right padding between button area and bars.
$button-bar-space: 9px;                // The spacing between button bars
$button-transistion-duration: 0.35s;     // The transition duration


/**
 * Toggle Switch Globals
 *
 * All switches should take on the class `toggle-menu` as well as their
 * variant that will give them unique properties. This class is an overview
 * class that acts as a reset for all versions of the icon.
 */

.toggle-menu {
  display: inline-block;
  position: relative;
  z-index: 1982;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: $button-width;
  height: $button-height;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background $button-transistion-duration;
  &:focus, &:active {
    outline: none;
    background-color: transparent;
  }
}



.toggle-menu span {
  display: block;
  position: absolute;
  top: ($button-height / 2) - ($bar-thickness / 2);
  left: $button-pad;
  right: $button-pad;
  height: $bar-thickness;
  background: $gray-lighter;
}

.toggle-menu span::before,
.toggle-menu span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: $bar-thickness;
  background-color: $gray-lighter;
  content: "";
}

.toggle-menu span::before {
  top: -$bar-thickness - $button-bar-space;
}

.toggle-menu span::after {
  bottom: -$bar-thickness - $button-bar-space;
}



/**
 * Style 2
 * 
 * Hamburger to "x" (htx). Takes on a hamburger shape, bars slide
 * down to center and transform into an "x".
 */

.toggle-menu {
  background-color: transparent;
}

.toggle-menu span {
  transition: background 0s $button-transistion-duration;
}

.toggle-menu span::before,
.toggle-menu span::after {
  transition-duration: $button-transistion-duration, $button-transistion-duration;
  transition-delay: $button-transistion-duration, 0s;
}

.toggle-menu span::before {
  transition-property: top, transform;
}

.toggle-menu span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */

.toggle-menu.is-active {
  background-color: transparent;
}

.toggle-menu.is-active span {
  background: none;
}

.toggle-menu.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.toggle-menu.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.toggle-menu.is-active span::before,
.toggle-menu.is-active span::after {
  transition-delay: 0s, $button-transistion-duration;
}