//.category-product > .menu, #menu-about-menu {
.navigation-sidebar {
    > .menu {
        @extend .nav;
        @extend .nav-stacked;

        > li {
            &+li{
                margin: 0;
            }
            &:before {
                content: '';
            }
            margin: 0;
            padding: 0;
            
            > a {
                position: relative;
                // padding-top: 20px;
                // padding-bottom: 20px;
                border-bottom: 1px solid $gray-lighter;
                text-transform: uppercase;

                height: 6rem;

                display: flex;
                align-items: center;
                //justify-content: space-between;

                font-size: 1.4rem;

                .icon {
                    margin-right: $padding-small-vertical;
                    width: 40px;
                    height: 40px;

                }
                &:after {
                    left: 100%;
                    top: 0;
                    content: " ";
                    position: absolute;

                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 3rem 0 3rem 2rem;
                    border-color: transparent;

                    @include transition($transition);
                }
                &:hover, &:active, &:focus {
                    background-color: $gray-lighter;
                    &:after {
                        border-left-color: $gray-lighter;
                    }
                }
            }
        }
        .current-menu-item {
            > a {
                background-color: $brand-primary;
                color: $gray-lighter;
                pointer-events: none;
                border-bottom: 0;
                .icon {
                    img {
                        //top: -40px;
                    }
                }
                &:after {
                    border-left-color: $brand-primary;
                }
            }
        }
    }
}

.widget_nav_menu {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            position: relative;
            margin-bottom: $padding-base-vertical;
            padding-left: $padding-large-horizontal;
            &:before {
                content: ">";
                color: $brand-warning;
                position: absolute;
                left: 0;
                @include transition($transition);
            }
            > a {
                text-decoration: none;
                font-weight: 400;
            }
            &:hover {
                &:before {
                    left: 5px;
                }   
            }
        }
    }
}