.dsi_facebook, .dsi_youtube, .dsi_linkedin, .dsi_twitter, .dsi_google_plus {
	display: inline-block;
	span {
		display: none;
	}
	a:before {
		font-family: 'FontAwesome';
		content: '';
		text-indent: 9999px;
		margin-right: 0.5em;
	}
}
.dsi_facebook {
	a:before {
		content: '\f230';
	}
}
.dsi_google_plus {
	a:before {

		content: '\f0d4';
	}
}
.dsi_linkedin {
	a:before {
		content: '\f08c';
	}
}
.dsi_youtube {
	a:before {
		content: '\f166';
	}
}
.dsi_twitter {
	a:before {
		content: '\f081';
	}
}