.widget_sow-headline {
    h2 {
        text-transform: uppercase;
        color: lighten($brand-primary, 10%);
        font-weight: 600;
        letter-spacing: 1px;
        margin-top: 0;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            bottom: -$padding-base-vertical*2;
            left: 0;
            width: 70px;
            border-bottom: 1px solid lighten($brand-primary, 10%);
        }
    }
    .light {
        h2 {
            color: white!important;
        }
    }
    .warning {
        h2 {
            &:after {
                border-bottom: 1px solid $brand-warning!important;
            }
        }
    }
}

.title {
    &-primary .widget-title {
        color: $brand-primary;
    }
    &-small .widget-title {
    }
    &-large .widget-title {
         @media (min-width: $screen-md-min) {
            line-height: 1.2;
            font-size: 4.2rem;
        }
    }
    &-underline .widget-title {
        border-bottom: 1px solid darken($gray-lighter, 10%);
        padding-bottom: $padding-large-vertical*4;
        margin-bottom: $padding-large-vertical*4;
    }
    &-uppercase .widget-title{
        text-transform: uppercase;
    }
}