.widget_card-widget {
    >.card-rollup {
        position: relative;
        overflow: hidden;
        .card {
            &-image {
                max-height: 220px;
                overflow: hidden;
            }
            &-content {
                @include transition($transition);
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 190px;
                background-color: rgba(red($brand-primary), green($brand-primary), blue($brand-primary), 0.85);
                padding: $padding-base-vertical $padding-base-horizontal;
                color: $gray-lighter;
                .title {
                    h3 {
                        margin-top: 0;
                        font-size: 1.8rem;
                        line-height: 1;
                    }
                }
                .content {}
                .link-button {}
                // &:after {
                // 	content: '+';
                // 	position: absolute;
                // 	bottom: 0;
                // 	right: 0;
                // 	width: $padding-base-vertical*3;
                // 	height: $padding-base-vertical*3;
                // 	color: $gray-lighter;
                // 	background-color: $brand-warning;
                // 	display: flex;
                // 	align-items: center;
                // 	justify-content: center;
                // }
            }
        }
        &:hover {
            .card {
                &-content {
                    padding-top: 45px;
                    top: 0;
                }
            }
        }
    }
}