// @font-face {
//   font-family: 'brandon-grotesque';
//   src: url('../fonts/brandon-grotesque/brandon_med-webfont.eot'); /* IE9 Compat Modes */
//   src: url('../fonts/brandon-grotesque/brandon_med-webfont.woff') format('woff'), Pretty Modern Browsers
//        url('../fonts/brandon-grotesque/brandon_med-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('../fonts/brandon-grotesque/brandon_med-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
// }


$font-family-sans-serif:  "brandon-grotesque", Helvetica, Arial, sans-serif !default;

$font-size-base:          18px;

$brand-primary: #002774;//#0c55a4;

$brand-warning: #e47800;
$brand-info: #002774;
$brand-success: #99BB2D;
$brand-yellow: #F4D532;

$breadcrumb-separator:          ">";

$transition: all 0.25s ease-in-out;

$border-radius-base:        0;
$border-radius-large:       0;
$border-radius-small:       0;

$grid-float-breakpoint: 769px;


@import "helpers/mixins";
@import "bootstrap";

@import "gravity_forms";

@import "layout/header";
@import "layout/content";
@import "layout/footer";
@import "layout/page-header";
@import "layout/navigation";

@import "components/back-to-top";
@import "components/widget_card-widget";
@import "components/social";
@import "components/flip";
@import "components/navigation";
@import "components/widget_sow-headline";
@import "components/loader";
@import "components/hamburger";

@import "helpers/wordpress";
@import "helpers/general";

@import "helpers/class";

@import "pages/front-page";
@import "pages/about";
@import "pages/products";
@import "pages/virtual-showroom";
@import "pages/news";
@import "pages/contact";
@import "pages/archive";



//@import "pages";


