#site-content {
    .so-widget-sow-editor, .so-widget-card-widget {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                position: relative;
                margin-bottom: $padding-base-vertical;
                padding-left: 20px;
                &:before {
                    content: ">";
                    color: $brand-warning;
                    position: absolute;
                    left: 0;
                }
            }
        }
    }

}
.page-content {
    margin-bottom: $padding-large-vertical*9;
}

.archive {
  //background-color: red;
  #content-main {
    .hentry:nth-child(4n+1){
      clear:left;
    }
  }
}
