#site-footer {
    background-color: #363636;
    color: $gray-lighter;
    #footer-widget {
        padding-top: $padding-base-vertical*6;
        padding-bottom: $padding-base-vertical*6;
        a {
            color: #FFFFFF;
        }
        .widget {
            margin-bottom: $padding-base-vertical*6;
            .widget-title {
                line-height: 1;
                margin-top: 0;
                color: $brand-warning;
                text-transform: uppercase;
                margin-bottom: $padding-large-vertical*2;
                font-weight: 600;
                letter-spacing: 1px;
            }
        }
        .phone {
            line-height: 1;
            display: inline-block;
            background-image: url("../img/phone_footer.png");
            background-repeat: no-repeat;
            background-position: 0 0;
            padding-left: 25px;
            padding-bottom: 5px;
        }
        #site_information-2 {
            a {
                color: $gray-light;
                display: inline-block;
                &:hover {
                    text-decoration: none;
                    color: white;
                }
            }
        }
        .gform_wrapper {
            .gfield_label {
                display: none;
            }
            .ginput_container {
                input, textarea {
                    background-color: #282828;
                    color: white;
                    @include placeholder($gray-light);
                    border: 0;
                }
            }
            .gform_footer {
                text-align: right;
                padding: 0;
                .gform_button {
                    display: inline-block;
                    margin: 0;
                    @extend .btn-warning;
                }
            }
        }
    }
    
}