@keyframes sticky-header {
    0% {
        top: -150px;
    }
    100% {
        top: 0;
    }
}


#search-offcanvas {
    display: none;
    .close {
        float: right;
        color: white;
        padding: $padding-base-vertical $padding-base-horizontal;
    }
    @include transition(all 0.25s ease-in-out);
    height: 0;
    padding: 0;
    background-color: $gray-darker;
    input[type="search"] {
        background-color: transparent;
        border-color: $gray-light;
        color: $gray-lighter;
    }
    &.is-active {
        display: block;
        height: 58px;
        padding: $padding-base-vertical*2 $padding-base-horizontal*2;
    }
}

#site-header {
    @include clearfix;
    position: relative;
    z-index: 1050;
    background-image: url("../img/header_bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    .search {
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
      color: $gray-lighter;
      font-size: 1.4rem;
      background-color: $gray-darker;
      padding-top: $padding-small-vertical;
      padding-bottom: $padding-small-vertical;
      padding-left: $padding-base-horizontal;
      padding-right: $padding-base-horizontal;
      text-decoration: none;
      &:before {
        display: inline-block;
          margin-right: 0.5rem;
          font-family: "FontAwesome";
          content: "\f002";
      }

    }

    &.is-scrolled {



      //  @media (min-width: $grid-float-breakpoint) {
            .menu {

                //@include animation(sticky-header 1s);
                position: fixed;
                z-index: 1982;
                top: 0;
                right: 0;
                bottom: auto;
                left: 0;
                background-color: $gray-dark;
            }
      //  }
    }

    #masthead {
        padding-top: $padding-large-vertical*2;
        padding-bottom: $padding-large-vertical*2;
        padding-left: $padding-base-horizontal;
        padding-right: $padding-base-horizontal;
        @media (min-width: $grid-float-breakpoint) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .brand {
            display: flex;
            align-items: center;
            margin-bottom: $padding-large-horizontal;
            .custom-logo-link {
                border-right: 1px solid $gray;
                padding-right: $padding-base-horizontal*2;
                margin-right: $padding-base-horizontal*2;
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
            .description {
                color: $gray-lighter;
                text-transform: uppercase;
                font-weight: 300;
                line-height: 1.6;
                font-size: 1.6rem;
                //max-width: 250px;
                @media (min-width: $screen-md-min) {
                    letter-spacing: 0;//1px;
                    font-weight: 300;
                }
                .phone {
                  font-size: 1.6rem;
                  color: $gray-lighter;
                  display: block;
                  &:before {
                    display: inline-block;
                      margin-right: 0.5rem;
                      font-family: "FontAwesome";
                      content: "\f095";
                  }
                }
            }
        }
        .header-widget {
            @media (min-width: $grid-float-breakpoint) {
                //flex-basis: 65%;
            }
        }
    }
}
