    #main-navigation {
        position: fixed;
        top: 0;
        left: 100%;
        right: auto;
        bottom: 0;
        width: 320px;
        background-color: $gray-darker;
        transition: all 0.25s ease-in-out;
        transform:translateX(0);
        @media (min-width: $grid-float-breakpoint) {
            position: relative;
            background-color: transparent;
            top: auto;
            left: auto;
            right: auto;
            bottom: auto;
            width: auto;
        }
        &.is-active {
            transform:translateX(-320px);
        }
        .toggle-menu {
            position: absolute;
            top: 0;
            right: 100%;
            color: $gray-light;
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            background-color: $gray-dark;
            padding: $padding-base-vertical $padding-base-horizontal;
            @media (min-width: $grid-float-breakpoint) {
                display: none;
            }
        }
        .menu {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                a {
                    font-size: 1.4rem;
                    color: $gray-lighter;
                    padding: $padding-small-vertical;// $padding-small-horizontal;
                }
            }
            >li {
                >a {
                    color: darken($gray-lighter, 20);
                    text-decoration: none;
                    display: block;

                    text-transform: uppercase;
                    &:hover {
                        color: $gray-lighter;
                    }
                }
                &.menu-item-has-children {
                    >a {
                        //padding: $padding-base-vertical $padding-base-horizontal;
                        display: block;

                        // &:after {
                        //     margin-left: 0.5rem;
                        //     font-family: "FontAwesome";
                        //     content: "\f0d7";
                        //     float: right;
                        // }
                    }
                    >.sub-menu {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        background-color: $gray-dark;
                        >li {
                            >a {
                                display: block;
                                padding: $padding-base-vertical $padding-base-horizontal $padding-base-vertical $padding-large-horizontal;
                                text-transform: uppercase;
                                &:hover {
                                    background-color: darken($brand-primary, 20);
                                    color: $gray-lighter;
                                }
                            }
                        }
                    }
                }
            }
            @media (max-width: ($grid-float-breakpoint - 1)) {
                >li {
                    >a {
                        //padding: $padding-base-vertical $padding-base-horizontal;
                    }
                    &.menu-item-has-children {
                        .sub-menu {
                            list-style: none;
                            max-height: 0;
                            overflow: hidden;
                            transition: all 0.25s ease-in-out;
                            &.active {
                                max-height: 100vh;
                            }
                        }
                    }
                }
            }
            @media (min-width: $grid-float-breakpoint) {
                >li {
                    display: inline-block;
                    position: relative;
                    >a {
                        text-align: center;
                        //padding: 0.5rem 0.75rem;
                    }
                    &.menu-item-has-children {
                        >.sub-menu {
                            display: none;
                            margin: 0;
                            padding: 0;
                            list-style: none;
                            min-width: 28rem;
                            position: absolute;
                            z-index: 1050;
                            left: 0;
                            top: 100%;
                            background-color: $brand-primary;
                            //border: 1px solid darken($brand-primary, 5);
                            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
                            > li {
                              a {
                                text-decoration: none;
                              }
                            }
                        }
                    }
                    &:hover {
                        background-color: $brand-primary;
                        >a {
                            color: $gray-lighter;
                        }
                        >.sub-menu {
                            display: block;

                        }
                    }
                }
            }
        }
    }
