.page, .blog, .single, .tax-product_category {
    .page-header {
        margin-top: 0;
        margin-bottom: 0;
        min-height: 325px;
        background-repeat: no-repeat!important;
        background-position: 50% 50%;
        background-size: cover;
        border-bottom: 0;
        position: relative;
        .page-title {
            position: absolute;
            top: auto;
            right: 0;
            bottom: 0;
            left: 0;
            margin: 0;
            background-color: rgba(red($brand-primary), green($brand-primary), blue($brand-primary), 0.90);
            padding-top: $padding-base-vertical*3;
            padding-bottom: $padding-base-vertical*3;
            .the_title, h1 {
                text-transform: uppercase;
                display: block;
                margin: 0;

                line-height: 1;
                color: white;
                

                @media(min-width: $screen-md-min) {

                }    
                small {
                    color: white;
                    font-weight: 300;
                }
            }
        }
    }
    .secondary-line {
        background-color: darken($gray-lighter, 5%);
        padding-top: $padding-base-vertical;
        padding-bottom: $padding-base-vertical;
        margin-bottom: $padding-large-vertical*4;
        .breadcrumb {
            background-color: transparent;
            margin: 0;
            padding-left: 0;
        }
    }
}