.so-widget-sow-headline-default-f2039bcccf62 .sow-headline-container h3.sow-headline {
  text-align: left;
  color: #002774;
  line-height: 1.4em;
  
  
  
}
.so-widget-sow-headline-default-f2039bcccf62 .sow-headline-container h3.sow-headline a {
  color: #002774;
}
.so-widget-sow-headline-default-f2039bcccf62 .sow-headline-container h3.sow-sub-headline {
  text-align: center;
  
  line-height: 1.4em;
  
  
  
}
.so-widget-sow-headline-default-f2039bcccf62 .sow-headline-container .decoration {
  line-height: 0em;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
.so-widget-sow-headline-default-f2039bcccf62 .sow-headline-container .decoration .decoration-inside {
  height: 1px;
  display: inline-block;
  border-top: 1px none #eeeeee;
  width: 100%;
  max-width: 840px;
}
.so-widget-sow-headline-default-f2039bcccf62 .sow-headline-container *:first-child {
  margin-top: 0 !important;
}
.so-widget-sow-headline-default-f2039bcccf62 .sow-headline-container *:last-child {
  margin-bottom: 0 !important;
}