.so-widget-sow-button-flat-4f7b9baa5621 .ow-button-base {
  zoom: 1;
}
.so-widget-sow-button-flat-4f7b9baa5621 .ow-button-base:before {
  content: '';
  display: block;
}
.so-widget-sow-button-flat-4f7b9baa5621 .ow-button-base:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-button-flat-4f7b9baa5621 .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  padding: 0.5em 1em;
  background: #002774;
  color: #ffffff !important;
  border: 1px solid #002774;
  border-width: 1px 0;
  -webkit-border-radius: 0em;
  -moz-border-radius: 0em;
  border-radius: 0em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
.so-widget-sow-button-flat-4f7b9baa5621 .ow-button-base a:visited,
.so-widget-sow-button-flat-4f7b9baa5621 .ow-button-base a:active,
.so-widget-sow-button-flat-4f7b9baa5621 .ow-button-base a:hover {
  color: #ffffff !important;
}
.so-widget-sow-button-flat-4f7b9baa5621 .ow-button-base a.ow-button-hover:hover {
  background: #002e88;
  border-bottom-color: #00256f;
  color: #ffffff;
}