

.parent-pageid-9 {
	.page-content {
		margin-bottom: 0!important;
	}
}

.row-about-footer {
	padding-top: $padding-base-vertical*10;
	padding-bottom: $padding-base-vertical*10;
	margin-bottom: 0;
	@include gradient-vertical($brand-primary, darken($brand-primary, 10%));
	color: $gray-lighter;
	a {
		color: $gray-lighter;
	}
	.widget_card-widget {
		.card-image {
			min-height: 75px;
		}
		.link-button {
			@extend .btn;
			@extend .btn-xs;
			border: 1px solid $gray-light;
			&:hover {
				background-color: $gray-lighter;
			}
			&:after {
				content: " >";
			}
		}
		@media (min-width: $screen-sm-min) {
			width: (100%/12)*3;
			float: left;
			display: inline-block;
			border-right: 1px solid $gray;
			padding-right: $padding-large-horizontal;
			margin-right: $padding-large-horizontal;
			&:last-child {
				border-right: none;
			}
		}
	}

}

