.row-contact-form {
	.widget-title {
		color: $brand-primary;
		border-bottom: 1px solid lighten($gray-light, 10%);
		padding-bottom: 15px;
		text-transform: uppercase;
		margin-bottom: 45px;
	}
	@media(min-width: $screen-md-min) {
		max-width: (100%/12)*8;
		margin: 0 auto;		
	}
}
.contact-office {
	.widget-title {
		color: $brand-primary;
		border-bottom: 1px solid lighten($gray-light, 10%);
		padding-bottom: 15px;
		text-transform: uppercase;
		margin-bottom: 45px;
	}
	h3 {
		text-transform: uppercase;
		margin-bottom: 30px;
	}
	ul {
		@extend .list-unstyled;
		li {
			padding-left: 60px!important;
			position: relative;
			margin-bottom: 30px!important;
			&:before {
				content: ''!important;
			}
			img {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
}