
    
.home {
    .hero {
        position: relative;
        .so-panel {
            margin-bottom: 0!important;
        }
        .carousel {
            &-inner {
                .item {
                    @media (min-width: $grid-float-breakpoint) {
                        .carousel-caption {
                            right: 0;
                            left: 0;
                            opacity: 0;
                            @include transition(all 0.35s ease-in-out);
                            p {
                            	font-size: 3rem;
                            }
                        }
                        &.active {
                            .carousel-caption {
                                opacity: 1;
                            }
                        }
                    }
                    height: 100vh;
                    
                    overflow: hidden;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: cover;

                    max-height: 200px;
                    @media(min-width: $screen-xs-min) {
                        max-height: 320px;
                    }
                    @media(min-width: $screen-md-min) {
                        max-height: 600px;
                    }

                    .carousel-caption {
                        padding-top: $padding-large-vertical*2;
                        padding-bottom: $padding-large-vertical*2;
                        $bgc: $gray-lighter;
                        color: $brand-primary;
                        @include gradient-directional(rgba(red($bgc), green($bgc), blue($bgc), 0.85), rgba(red($bgc), green($bgc), blue($bgc), 0.25), 45deg);
                        bottom: 30%;
                        text-shadow: none;
                        p {
                            @media(min-width: $screen-xs-min) {}
                            @media(min-width: $screen-md-min) {}
                            text-transform: uppercase;
                            padding-left: $padding-large-vertical*2;
                            padding-right: $padding-large-vertical*2;
                            margin: 0;
                        }
                    }
                }
            }
            &-control, &-indicators {}
        }
        .widget_dash_weather_widget,
        .widget_weather-widget {
            background-color: $gray-lighter;
            text-align: right;
            padding: $padding-base-vertical $padding-base-horizontal;
            @media (min-width: $grid-float-breakpoint) {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 550;
                //background-color: rgba(255, 255, 255, 0.5);
                background-color: transparent;
                //padding: $padding-large-vertical $padding-base-horizontal;
                text-align: center;
                .icon {
                    //display: inline-block;
                    color: $gray-lighter;
                    font-size: 1.4rem;
                }
                .temp {
                    //display: inline-block;
                    color: $gray-lighter;
                    font-size: 1.4rem;
                }
                .city {
                    //display: block;
                    color: $gray-lighter;
                    font-size: 1.4rem;
                }
            }
        }
    }
    .experts {
        margin-bottom: $padding-base-vertical*10;
        .panel-grid-cell {
            &:last-child {
                .so-widget-card-widget {
                    border-right: 0;
                }
            }
        }
        .so-widget-card-widget {
            padding-left: $padding-base-horizontal*2;
            padding-right: $padding-base-horizontal*2;
            @media(min-width: $screen-md-min) {
                border-right: 1px solid darken($gray-lighter, 10%);
            }
            @extend .clearfix;
            .card {
                &-image {
                    position: relative;
                    left: 50%;
                    width: 50%;
                    float: left;
                    img {
                        @extend .center-block;
                    }
                }
                &-content {
                    position: relative;
                    float: left;
                    width: 50%;
                    right: 50%;
                    .title {
                        font-weight: 300;
                        color: $gray-dark;
                        text-transform: uppercase;
                        margin-top: 35px;
                        min-height: 80px;
                        h3 {
                            font-size: 18px;
                        }
                    }
                    .content {
                        position: absolute;
                        top: 120%;
                        a {
                            @extend .btn;
                            @include button-variant($brand-primary, transparent, $brand-primary);
                            padding-left: $padding-base-horizontal * 2;
                            padding-right: $padding-base-horizontal * 2;
                            &:hover {
                                background-color: $brand-primary;
                                color: $gray-lighter;
                            }
                        }
                    }
                }
            }
        }
    }
    .product-catalogue {
        display: flex;
        align-items: center!important;
        @media(min-width: $screen-md-min) {
            max-width: (100%/12)*7;
            margin: 0 auto;
            min-height: 345px;
            display: flex;
            align-items: center;
        }
        .panel-grid-cell {
            &:first-child {
                text-align: center;
            }
        }
    }
}