#news-recent {
	margin-bottom: 60px;
	.header {
		border-bottom:2px solid $brand-warning;
		margin-bottom: 15px;

		.title {
			text-transform: uppercase;
			float: left;
			margin: 0;
			background-color: $brand-warning;
			color: $gray-lighter;
			padding: 10px 12px;
		}
		.post-categories {
			float: right;
			margin: 0;
			padding: 0;
			list-style: none;
			> li {
				&:before {
					content: '';
				}
				> a {
					@extend .btn;
					text-transform: uppercase;
				}
			}
		}
	}
}

#news-featured {
	margin-bottom: 30px;
	$entry-height: 400px;

	.entry {
		float: left;
		position: relative;
		.content {


			padding: 15px;
			position: absolute;
			left: 15px;
			top: 15px;
			bottom: 15px;
			right: 15px;
			background-color: $brand-primary;
			color: $gray-lighter;

			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			.description {
				position: absolute;
				left: 15px;
				right: 15px;
				bottom: 15px;
				z-index: 50;
				.title {
					text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
				}
			}

			&:after {
				@include transition ($transition);
				position: absolute;
				z-index: 25;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				content: '';
				background-color: rgba(0,0,0,0.25);
			}
			&:hover {
				&:after {
					background-color: rgba(0,0,0,0.35);
				}
			}
		}
		
		width: (100%/12)*12;
		min-height: $entry-height/1.5;

		@media (min-width: $screen-sm-min) {
			&:first-child {
				width: (100%/12)*6;
				min-height: $entry-height;
			}
			&:nth-child(2) {
				width: (100%/12)*6;
				min-height: $entry-height*0.55;
			}
			&:nth-child(3), &:last-child {
				width: (100%/12)*3;
				min-height: $entry-height*0.45;
			}
			&:nth-child(2), &:nth-child(3), &:last-child {
				.description {
					.title {
						font-size: 1.8rem;
					}
				}
			}
		}

	}
}
