// .fancybox-skin {
//     background: #FFF!important;
// }
#loop-products, .loop-products {

    margin-left: -15px;
    margin-right: -15px;
    .entry {

        min-height: 230px;

        display: block;
        position: relative;
        border: 1px solid $gray-lighter;
        margin-bottom: 30px;
        text-decoration: none!important;
        @include transition($transition);

        .product_modal {
          position: absolute;
          top:auto;
          right:0;
          bottom: 0;
          left: 0;
          opacity: 0;
          display: block;
        }
        &:hover {
          border: 1px solid $brand-primary;
          .product_modal {
            opacity: 1;
          }
        }
        .description {
            padding: $padding-base-vertical;
            h5 {
                margin: 0!important;
                //min-height: 6rem;
            }
        }
        // .link {
        //     position: absolute;
        //     bottom: 0;
        //     right: 0;
        //     width: $padding-base-vertical*3;
        //     height: $padding-base-vertical*3;
        //     color: $gray-lighter;
        //     background-color: $brand-warning;
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        // }
    }
}
.single-product {
  .page-content {
    h5 {
        margin-top: $padding-base-vertical*2;
        text-transform: uppercase;
        font-weight: 700;
        border-top: 1px solid darken($gray-lighter, 10);
        padding-top: $padding-base-vertical*2;
        color: $gray-dark;
    }
  }
}

#hotspotModal, #productModal {
    h5 {
        margin-top: $padding-base-vertical*2;
        text-transform: uppercase;
        font-weight: 700;
        border-top: 1px solid darken($gray-lighter, 10);
        padding-top: $padding-base-vertical*2;
        color: $gray-dark;
    }
    .modal-body {
        max-height: 70vh;
        overflow: auto;
    }
}

.advance-search {
    background-color: $gray-lighter;
    padding: $padding-base-vertical 0;

    margin-bottom: $padding-base-vertical*4;
}

#gallery {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        > li {
            padding: 5px;
            > a {
                display: inline-block;
            }
        }
    }
}
