#virtual-showroom {
	
	.hotspots-area {
		position: relative;
		z-index: 1000;
		margin-bottom: 30px;

		.hotspots-area-links {
			@extend .list-unstyled;
			$pointer-bg: $brand-primary;
			li {
				position: absolute;
				margin: 0;
				padding: 0;
				&:before {
					content: '';
				}
				a {
					box-shadow: 1px 1px 1px rgba(0,0,0,0.45);
					display: inline-block;
					width: 25px;
					height: 25px;

					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					background-color: $pointer-bg;
					color: $gray-lighter;
					text-decoration: none;
					&:after {
						@include transition($transition);
						content: '';
						position: absolute;
						top: 80%;//16px;
						left: 2px;//20px;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 20px 10px 0 10px;
						border-color: $pointer-bg transparent transparent transparent;
					}
					&:hover, &:focus, &:active {
						background-color: $brand-warning;
						cursor: pointer;
						&:after {
							border-color: $brand-warning transparent transparent transparent;
						}
					}
					&.active {
						background-color: $brand-warning;
						pointer-events: none;
						&:after {
							border-color: $brand-warning transparent transparent transparent;
						}
					}
				}
			}
		}
	}
}
