.no-wrap {
    white-space: nowrap;
}
.nav-tabs>li>a {
    margin-right: 0;
}
.about-inbrief {
    position: relative;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            margin-bottom: 15px!important;
            padding-left: 45px!important;
            position: relative;
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                font-family: "FontAwesome";
                content: "\f00c"!important;
                width: 30px;
                height: 30px;
                border: 2px solid $brand-primary;
                color: $brand-primary!important;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .widget-title {
        $rotate: 17deg;
        position: absolute;
        top: 0;
        left: 0;
        @include rotate(-$rotate);
        font-size: 1em;
        text-transform: uppercase;
        color: white;
        width: 20px;
        &:after {
            z-index: -1;
            @include rotate($rotate);
            position: absolute;
            content: '';
            top: -30px;
            left: -42px;
            background-image: url('../img/in-brief-bg.png');
            background-repeat: no-repeat;
            background-position: 0 0;
            display: inline-block;
            width: 120px;
            height: 111px;
        }
    }
    background-color: darken($gray-lighter, 2%);
    padding: $padding-base-vertical*9 $padding-base-horizontal*2 $padding-base-vertical*4;
    border-bottom: 10px solid $brand-primary;
}

.product-spotlight {
    padding-top: $padding-base-vertical*10;
    padding-bottom: $padding-base-vertical*10;
    background-color: darken($brand-primary, 10);
    .item {
          padding-right: 15px;
          padding-left: 15px;
    }
    .owl-nav {
        color: white;
        .owl-prev, .owl-next {
            right: 0;
            bottom: 105%;
            position: absolute;
            text-decoration: none;
            display: inline-block;
            z-index: 10;
            overflow: hidden;
            cursor: pointer;
        }
        .owl-prev {
            right: 30px;
        }
    }

}

.btn-primary-outline {
    text-transform: uppercase;
    @include button-variant($brand-primary, transparent,$brand-primary);
    &:hover {
        background-color: $brand-primary;
        color: $gray-lighter;
    }
}