.input {
	@extend .form-control;
}
.button-primary {
	@extend .btn;
	@extend .btn-primary;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: $border-radius-base;
}
table {
	@extend .table;
}

.sticky {}

.bypostauthor {}

.wp-caption {
	padding: $padding-base-vertical;
	border: 1px solid $gray-lighter;
	border-radius: $border-radius-base;
	.wp-caption-text {
		margin-top: $padding-base-vertical;
	}
}

.gallery-caption {}

.alignright {
	float: right;
	margin: 0 0 $padding-base-horizontal $padding-base-horizontal;
}

.alignleft {
	float: left;
	margin: 0 $padding-base-horizontal $padding-base-horizontal 0;
}

.aligncenter {
	display: block;
	margin: 0 auto;
}

img[class^="wp-image-"],
img[class*=" wp-image-"],
.attachment-post-thumbnail,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail
 {
    max-width: 100%;
    height: auto;
}