/*
 Theme Name:   Sayfa
 Theme URI:    https://sayfa.caom.au
 Description:  Sayfa WP Theme
 Author:       Ballistix SPE
 Author URI:   http://ballistix.com
 Template:     _dash
 Version:      1.2.60
 Text Domain:  _dash
*/

/*.gform_page_fields > ul {*/
/* counter-reset: my-badass-counter;*/
/*}*/
/*.gform_page_fields > ul li{*/
/*	counter-increment: my-badass-counter;*/
/*}*/
/*.gform_page_fields > ul li:before{*/
/* content: counter(my-badass-counter)!important;*/
/*}*/
.gform_page_fields > ul li:before{
 display:none;
}

.gfield_radio li:before{
 display:none;
}